/MarcelJoachimKloubert.v12.suo
/MarcelJoachimKloubert/obj
/MarcelJoachimKloubert/bin
/MarcelJoachimKloubert/MarcelJoachimKloubert.csproj.user
/.vs/MarcelJoachimKloubert/v14/.suo
/MarcelJoachimKloubert.sln.DotSettings.user
/MarcelJoachimKloubert/project.lock.json
/MarcelJoachimKloubert.Extensions.Tests/bin
/MarcelJoachimKloubert.Extensions.Tests/obj
/MarcelJoachimKloubert.Extensions.Data/obj
/MarcelJoachimKloubert.Extensions.Data/bin
/MarcelJoachimKloubert.Extensions.Data/MarcelJoachimKloubert.Extensions.Data.csproj.user
/MarcelJoachimKloubert.Extensions.Data/project.lock.json
/MarcelJoachimKloubert.Extensions.Windows.Forms/obj
/MarcelJoachimKloubert.Extensions.Windows.Forms/bin
