/MarcelJoachimKloubert.v12.suo
/MarcelJoachimKloubert/obj
/MarcelJoachimKloubert/bin
/MarcelJoachimKloubert/MarcelJoachimKloubert.csproj.user
/.vs/MarcelJoachimKloubert/v14/.suo
/MarcelJoachimKloubert.sln.DotSettings.user
/MarcelJoachimKloubert/project.lock.json
/MarcelJoachimKloubert.Extensions.Tests/bin
/MarcelJoachimKloubert.Extensions.Tests/obj
