/MarcelJoachimKloubert.v12.suo
/MarcelJoachimKloubert/obj
/MarcelJoachimKloubert/bin
/MarcelJoachimKloubert/MarcelJoachimKloubert.csproj.user
/.vs/MarcelJoachimKloubert/v14/.suo
/MarcelJoachimKloubert.sln.DotSettings.user
/MarcelJoachimKloubert/project.lock.json
/MarcelJoachimKloubert.Extensions.Tests/bin
/MarcelJoachimKloubert.Extensions.Tests/obj
/MarcelJoachimKloubert.Extensions.Data/obj
/MarcelJoachimKloubert.Extensions.Data/bin
/MarcelJoachimKloubert.Extensions.Data/MarcelJoachimKloubert.Extensions.Data.csproj.user
/MarcelJoachimKloubert.Extensions.Data/project.lock.json
/MarcelJoachimKloubert.Extensions.Windows.Forms/obj
/MarcelJoachimKloubert.Extensions.Windows.Forms/bin
/MarcelJoachimKloubert.Extensions.Xml/obj
/MarcelJoachimKloubert.Extensions.Xml/bin
/MarcelJoachimKloubert.Extensions.Xml/MarcelJoachimKloubert.Extensions.Xml.csproj.user
/MarcelJoachimKloubert.Extensions.Xml/project.lock.json
/MarcelJoachimKloubert.Extensions.Drawing/obj
/MarcelJoachimKloubert.Extensions.Drawing/bin
/MarcelJoachimKloubert.Extensions.Tests/MarcelJoachimKloubert.Extensions.Tests.csproj.user
/MarcelJoachimKloubert.Extensions.Tests/MarcelJoachimKloubert.Extensions.Tests_TemporaryKey.pfx
/MarcelJoachimKloubert.Extensions.Tests/project.lock.json
/MarcelJoachimKloubert.Extensions.UnitTests/bin
/MarcelJoachimKloubert.Extensions.UnitTests/obj
/MarcelJoachimKloubert.Extensions.JSON/obj
/MarcelJoachimKloubert.Extensions.JSON/bin
/MarcelJoachimKloubert.Extensions.JSON/project.lock.json
/packages
